<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>>

<body>
  <div class="container">
    <div style="font-weight: bolder;font-size: xxx-large;text-align: center;">Used Car Valuation</div>
    <br />
    <br />
    <h3 style="text-align: center;">Please first select your car manufacturer:<h3><br>
        <form style="background-color: #EEEEEE; border-radius: 25px;padding: 5%;" method="GET"
          action="http://localhost:8000/home/middle">
          <div style="font-weight:bold; margin: 10px;text-align: center;">Manufacturer:</div>
          <div style="text-align: center;">
            <select class="selectpicker" style="text-align-last: center;" name="manufacturer">
              <option value="ford">ford</option>
              <option value="chevrolet">chevrolet</option>
              <option value="toyota">toyota</option>
              <option value="nissan">nissan</option>
              <option value="honda">honda</option>
              <option value="jeep">jeep</option>
              <option value="ram">ram</option>
              <option value="gmc">gmc</option>
              <option value="dodge">dodge</option>
              <option value="bmw">bmw</option>
              <option value="hyundai">hyundai</option>
              <option value="subaru">subaru</option>
              <option value="volkswagen">volkswagen</option>
              <option value="kia">kia</option>
              <option value="mercedes-benz">mercedes-benz</option>
              <option value="chrysler">chrysler</option>
              <option value="cadillac">cadillac</option>
              <option value="buick">buick</option>
              <option value="lexus">lexus</option>
              <option value="mazda">mazda</option>
              <option value="audi">audi</option>
              <option value="acura">acura</option>
              <option value="infiniti">infiniti</option>
              <option value="lincoln">lincoln</option>
              <option value="pontiac">pontiac</option>
              <option value="volvo">volvo</option>
              <option value="mini">mini</option>
              <option value="mitsubishi">mitsubishi</option>
              <option value="rover">rover</option>
              <option value="saturn">saturn</option>
              <option value="mercury">mercury</option>
              <option value="fiat">fiat</option>
              <option value="jaguar">jaguar</option>
              <option value="tesla">tesla</option>
            </select>
          </div>
          <br>
          <div class="text-center">
            <input class="btn btn-success" style="font-weight: bolder; font-size: x-large;margin: 3%; width: 35%;"
              type="submit" value="Next Step">
          </div>
        </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>